@media (max-width: 767px)
  .main-footer .right-column
    padding-left: 50px

@media (max-width: 420px)
  .about-company .photo-column, .education .photo-column
    width: 100%
    float: none
    padding: 20px 40px

@media (max-width: 480px)
  .services .container .row
    flex-wrap: wrap

.service-item
  max-width: 302px
  min-width: 0

  .service-thumb
    margin-bottom: 16px
    border: 1px solid #111
    width: 100%

  .service-link
    display: block
    font-family: 'Lato-Bold',Helvetica, Roboto, Arial, sans-serif
    font-size: 16px
    color: #053b82
    text-align: center
    line-height: 1.2
    text-decoration: none

@media (min-width: 481px) and (max-width: 960px)
  .service-item .service-link
    max-width: 200px
    margin: 0 auto
    font-size: 14px

@media (max-width: 767px)
  .service-item .service-link
    font-size: 13px

@media (max-width: 480px)
  .service-item
    margin-bottom: 30px


@media screen and (min-width: 701px)
  .menu-dropdown
    display: none
    position: absolute
    margin-top: 6px
    padding: 10px
    z-index: 100
    background-color: #fff
    border: 1px solid #282f39

    .menu-item
      width: 200px
      text-align: left
      border-bottom: none
      padding: 4px 8px

      &:not(:last-child)
        margin-bottom: 4px

      a, span
        line-height: 1.4

@media screen and (max-width: 1024px)

  .main-menu

    &.mobile
      display: block
      float: none
      clear: both
      text-align: center


  .site-logo
    margin-left: 20px

  .header-feedback
    margin-right: 20px
    float: right

@media screen and (max-width: 800px)

  .page-top-text::before
    top: 0
    height: 100%

  .about
    .left-column
      padding-bottom: 20px

    .right-column
      display: none

  .dir-words
    display: block

    .table-cell
      display: inline-block

    .dir-text
      width: 75%

    .license
      width: 100%

    .dir-image
      float: left

@media (min-width: 981px) and (max-width: 1050px)
  .main-menu-wrapper .menu-item
    width: 92px

    a
      font-size: 15px

@media (max-width: 980px)
  .main-menu
    display: none

  .menu-btn.mobile
    display: inline-block
    font-size: 17px
    color: #fff
    line-height: 35px
    padding: 5px
    margin: 0
    background-color: #282f39
    border-style: none
    cursor: pointer

  .main-menu.mobile .main-menu-wrapper, #menu-for-mobile
    display: none

@media screen and (max-width: 700px)

  .main-menu.mobile .menu-item
    display: inline-block
    width: 50%
    float: none

    a
      line-height: 45px

    &:last-child
      border-bottom: none

  .services .service-img
    float: none
    display: block
    margin: 0 auto
    margin-bottom: 20px

  .contacts .top-block
    .table-cell
      display: block

    .text-block
      padding: 15px
      padding-left: 0

@media (min-width: 981px)
  #menu-for-mobile .menu-item
    display: none

@media (min-width: 701px) and (max-width: 980px)
  #menu-for-mobile
    height: 23px
    text-align: center

    .menu-item
      display: inline-block
      float: none

@media (max-width: 700px)
  #menu-for-mobile .menu-item
    display: block
    float: none
    width: 100%
    border: none

  .main-menu-wrapper

    .menu-item-text
      span
        display: none

    .menu-dropdown
      display: block
      position: relative


@media screen and (max-width: 630px)

  #feedback-modal
    top: 50px !important

  .feedback-form
    width: 100%
    box-sizing: border-box

    .form-text-top
      padding: 15px 0
      font-size: 15px

    .form-text-bottom
      font-size: 15px

    .form-input, .form-textarea
      margin-bottom: 15px
      font-size: 16px

    .form-submit
      font-size: 20px
      line-height: 30px

    .form-footer
      margin-top: 15px

    .triangle
      display: none

@media screen and (max-width: 550px)

  .page-top .container
    left: 15px

  .dir-words
    .dir-image
      float: none
      padding-top: 16px
      width: 100%
      display: block
      text-align: center
      background-color: #282f39

    .dir-photo
      width: auto
      display: inline-block
      margin-bottom: -4px

    .dir-text
      width: 100%

  .main-footer .right-column
    padding-left: 0
    padding-right: 15px

@media screen and (max-width: 520px)

  .sertificates
    .container
      text-align: center

    .license
      float: none
      display: inline-block

      .sert-photo, .sert-info
        float: none

      .sert-text-mini
        margin-bottom: 15px

@media (min-width: 450px) and (max-width: 767px)
  .page-top .text-container
    left: 50px

  .page-top-text
    font-size: 26px

@media screen and (max-width: 449px)

  .site-logo, .header-feedback
    display: block
    float: none
    margin: 10px 0
    max-width: 160px
    text-align: center

  .menu-btn
    margin-top: 10px

  .page-top-text
    font-size: 20px

  .page-top .text-container
    left: 30px

  .main-footer
    .left-column
      width: 100%
      padding: 0 30px
      text-align: center

    .right-column
      width: 100%
      padding: 0 30px
      text-align: center
      margin-top: 15px

  .about
    ul
      font-size: 20px

    .title
      font-size: 24px

  .services ol
    font-size: 20px
    line-height: 1.6

  .service-article
    .float-left, .float-right
      float: none
      display: block
      margin: 15px auto

@media screen and (max-width: 410px)

  .services ol
    padding-left: 30px
    font-size: 17px

  .contacts .feedback-btn
    max-width: 100%
    font-size: 20px

.icon-bar
  display: block
  width: 22px
  height: 2px
  margin: 5px
  border-radius: 1px
  background-color: #ffffff

.logo-img
  width: 100%

@media (max-width: 480px)
  .header-feedback
    .phone, .mail
      font-size: 13px

.leaflet-popup-content-wrapper
  width: 230px !important

/* Choosing city

#cities:before
  content: ""
  width: 16px
  height: 16px
  left: 0
  position: absolute
  background: url('../images/map-marker2.png') no-repeat

.wrapper-dropdown
  position: relative
  margin: 0 auto
  padding: 10px 15px 10px 23px
  background: #fff
  cursor: pointer
  outline: none

  &:after
    content: ""
    width: 0
    height: 0
    position: absolute
    right: 16px
    top: 50%
    margin-top: -3px
    border-width: 6px 6px 0 6px
    border-style: solid
    border-color: #282f39 transparent

  .dropdown
    position: absolute
    top: 100%
    left: 7px
    right: 0px
    background: #f6f6f6
    transition: all 0.2s ease-out
    list-style: none
    opacity: 0
    pointer-events: none
    z-index: 3

    li
      a
        display: block
        text-decoration: none
        color: #333
        border-left: 5px solid
        padding: 10px
        transition: all 0.2s ease-out

      &:nth-child(1) a
        border-left-color: #00ACED

      &:nth-child(2) a
        border-left-color: #4183C4

      &:nth-child(3) a
        border-left-color: #3B5998

      i
        margin-right: 5px
        color: inherit
        vertical-align: middle

      &:hover a
        color: grey

  &.active
    &:after
      border-width: 0 6px 6px 6px

    .dropdown
      opacity: 1
      pointer-events: auto
