*
  margin: 0
  padding: 0
  box-sizing: border-box

@font-face
  font-family: "Lato"
  src: url("../fonts/Lato-Regular.ttf") format("truetype")

@font-face
  font-family: "Lato-Bold"
  src: url("../fonts/Lato-Bold.ttf") format("truetype")

.hidden
  display: none

#lean_overlay
  position: fixed
  z-index: 100
  top: 0px
  left: 0px
  height: 100%
  width: 100%
  background: #000
  display: none

.table
  display: table
  width: 100%

  &.fixed
    table-layout: fixed

.table-row
  display: table-row


.table-cell
  display: table-cell
  vertical-align: top

body
  font-family: "Lato-Bold", Helvetica, 'Roboto', 'Arial', sans-serif
  font-size: 14px
  background: url("../images/background.png")

.container
  position: relative
  max-width: 1075px
  margin: 0 auto

  &:after
    content: ' '
    display: block
    clear: both

.main-header
  background-color: #fff
  padding-top: 18px
  padding-bottom: 25px

  > .container
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

.site-logo, .main-menu, .header-feedback
  float: left

.site-logo
  .phone, .mail
    padding-left: 23px
    font-family: "Lato",Helvetica,Roboto,Arial,sans-serif
    font-size: 14px
    color: #1c4d8b

.main-menu
  .phone, .mail
    padding-left: 23px
    font-family: "Lato",Helvetica,Roboto,Arial,sans-serif
    font-size: 14px
    color: #1c4d8b

.header-feedback
  .phone, .mail
    padding-left: 23px
    font-family: "Lato",Helvetica,Roboto,Arial,sans-serif
    font-size: 14px
    color: #1c4d8b

.site-logo .phone, .main-menu .phone, .header-feedback .phone
  font-family: "Lato-Bold",Helvetica,Roboto,Arial,sans-serif
  letter-spacing: 1.43px
  line-height: 15px
  background: url("../images/phone.png") 0 center no-repeat

.site-logo .phone span, .main-menu .phone span, .header-feedback .phone span
  letter-spacing: 1.15px

.site-logo .mail, .main-menu .mail, .header-feedback .mail
  background: url("../images/mail.png") 0 center no-repeat

.site-logo
  margin-right: 23px

.main-menu-wrapper
  list-style: none
  margin-top: 8px

  .menu-item
    $item: &
    float: left
    vertical-align: top
    width: 110px
    text-align: center
    border-bottom: 5px solid #7a7e84
    position: relative

    a, span
      text-decoration: none
      font-size: 17px
      line-height: 35px
      color: #282f39
      cursor: pointer

    &.active
      background-color: #282f39
      border-bottom: none
      a
        color: #fff

    &:not(:last-child)
      margin-right: 1px

    &:hover
      & > .menu-dropdown
        display: block

  // .menu-dropdown
  //   display: none
  //   position: absolute
  //   margin-top: 6px
  //   padding: 10px
  //   z-index: 100
  //   background-color: #fff
  //   border: 1px solid #282f39

  //   .menu-item
  //     width: 200px
  //     text-align: left
  //     border-bottom: none
  //     padding: 4px 8px

  //     &:not(:last-child)
  //       margin-bottom: 4px

      a, span
        line-height: 1.4

.header-feedback
  margin-left: 9px

.address
  line-height: 20px
  color: #282f39

.feedback-btn
  width: 184px
  font-family: "Lato-Bold",Helvetica,Roboto,Arial,sans-serif
  font-size: 14px
  line-height: 26px
  color: #fff
  background-color: #4082d9
  text-transform: uppercase
  border-style: none
  border-radius: 0
  border-bottom: 2px solid #083774
  cursor: pointer

.page-top
  position: relative
  max-width: 1300px
  margin: 0 auto
  background: url("../images/page_top_bg.jpg") no-repeat center center
  background-size: cover
  min-height: 302px

  .text-container
    position: absolute
    top: 50%
    left: 139px
    transform: translateY(-50%)

  .button-container
    position: absolute
    left: 0
    right: 0
    bottom: 0

.education .button-container
  margin-top: 30px
  text-align: center

.page-top .feedback-btn
  position: absolute
  right: 0
  bottom: 18px

.page-top-text
  color: #fbfcfd
  font-size: 30px
  line-height: 1.2
  padding-left: 14px

  &:before
    position: absolute
    top: 4px
    left: 0
    display: block
    content: ' '
    width: 4px
    height: 94%
    background-color: #fbfcfd

.main-footer
  .footer-text
    line-height: 1.2

  .politic
    display: inline-block
    margin-top: 4px

  .container
    padding: 30px 0
    background-color: #c3c4c6

  .left-column, .right-column
    width: 50%
    float: left
    box-sizing: border-box

  .left-column
    padding-left: 30px

  .right-column
    padding-left: 152px

  .social-networks
    list-style: none
    margin-top: 12px

    .social-icon
      display: inline-block
      width: 43px
      height: 43px
      background-image: url("../images/social_icons.png")

      &:not(:last-child)
        margin-right: 17px

      &.fb
        background-position: -43px 0

      &.ok
        background-position: -86px 0

      a
        display: block
        height: 100%

.scroll-top
  display: none
  position: fixed
  bottom: 8%
  right: 5%
  text-transform: uppercase
  color: #282f39
  text-decoration: none
  text-indent: -9999px
  width: 60px
  height: 19px
  background-image: url("../images/button-top-60x19.png")

.feedback-form
  position: relative
  box-sizing: border-box
  width: 623px
  padding: 26px 33px 39px 33px
  background-color: #2463b3
  -webkit-clip-path: polygon(0 0, 600px 0, 100% 23px, 100% 100%, 0 100%)
  clip-path: polygon(0 0, 600px 0, 100% 23px, 100% 100%, 0 100%)

  .triangle
    position: absolute
    top: 0
    right: 0
    width: 0
    height: 0
    border-bottom: 23px solid #fff
    border-right: 23px solid transparent

  .agree-box
    display: block
    margin-bottom: 8px

  .form-text-top, .form-text-bottom
    font-size: 18px
    color: #fff

  .form-text-top
    padding: 29px 0

  .form-input, .form-textarea
    display: block
    box-sizing: border-box
    width: 100%
    border-style: none
    margin-bottom: 29px
    font-size: 24px
    font-family: "Lato", Helvetica, Roboto, Arial, sans-serif
    padding: 7px

  .form-footer
    text-align: right

  .form-submit
    width: 158px
    color: #fff
    font-size: 24px
    line-height: 40px
    background-color: #032f55
    border-style: none
    border-bottom: 4px solid #041727
    cursor: pointer

.article-check
  position: absolute
  top: 0
  left: 31px
  width: 54px
  height: 4px
  background-color: #fff

.about
  background-color: #4082d9

  .title
    font-size: 28px
    font-family: "Lato", Helvetica, Roboto, Arial, sans-serif
    color: #fff
    margin-bottom: 13px

  ul
    list-style: disc inside
    font-size: 24px
    font-family: "Lato", Helvetica, Roboto, Arial, sans-serif
    color: #fff
    line-height: 1.2

    li span
      position: relative

  .left-column, .right-column
    display: inline-block
    vertical-align: top

  .left-column
    padding-top: 24px
    padding-left: 30px
    padding-bottom: 35px

  .right-column
    padding-top: 30px
    padding-bottom: 24px
    padding-left: 42px

.dir-words
  background-color: #fff

  .license
    position: relative
    width: 25%

    /* float: left

    .title-wrapper
      background-color: #2463b3
      padding-left: 30px

      .title
        font-size: 30px
        color: #fff
        line-height: 63px

      .triangle
        position: absolute
        top: 63px
        width: 0
        height: 0
        border-left: 12px solid transparent
        border-right: 12px solid transparent
        border-top: 12px solid #2463b3

  .license-slider
    padding-top: 14px

    .slide
      text-align: center

      img
        display: inline-block
        border: 1px solid rgba(0, 0, 0, 0.55)

.dir-image
  width: 25%
  font-size: 0

  /* float: left

  .dir-photo
    width: 100%
    max-width: 100%
    height: 100%

.dir-text
  position: relative
  width: 50%
  height: 100%
  padding-top: 16px
  padding-left: 34px
  padding-right: 34px
  text-align: justify
  line-height: 18px

  /* float: left
  background-color: #282f39
  color: #fbfcfd

  .triangle
    position: absolute
    left: -14px
    width: 0
    height: 0
    border-top: 14px solid transparent
    border-right: 14px solid #282f39
    border-bottom: 14px solid transparent

  .red-line
    padding-left: 16px

  .sign
    float: left
    line-height: 18px
    margin-top: 10px

  .sign-img
    margin-top: 4px

.advantages
  padding: 24px 0 20px 30px
  background-color: #fff
  color: #282f39

  .title
    font-size: 24px
    margin-bottom: 10px

  ul
    font-size: 18px
    list-style-type: disc
    list-style-position: inside
    margin-bottom: 16px
    line-height: 1.2

  .text
    font-size: 19px

.page-title
  font-size: 24px
  font-family: "Lato-Bold", Helvetica, Roboto, Arial, sans-serif
  color: #fff
  line-height: 62px
  padding-left: 34px
  background-color: #4082d9

.about-company, .education
  background-color: #fff

.about-company .container, .education .container
  padding: 28px 20px 40px 20px

.about-company .photo-column, .education .photo-column
  float: left
  padding-right: 18px

.about-company
  .text, .margin-text
    font-size: 18px
    font-family: "Lato", Helvetica, Roboto, Arial, sans-serif
    line-height: 22px
    text-align: justify

.education .margin-text
  font-size: 18px
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif
  line-height: 22px
  text-align: justify

.about-company .margin-text
  margin-bottom: 10px

.education
  .margin-text
    margin-bottom: 10px

  .margin-text_25
    margin-bottom: 25px

.sertificates
  padding-bottom: 27px
  background-color: #fff

  .container
    padding-top: 27px
    padding-left: 6px

  .license
    float: left
    margin: 28px
    background-color: #282f39
    overflow: hidden

    .sert-photo, .sert-info
      float: left

    .sert-photo img
      margin-bottom: -3px
      border-bottom: 1px solid #282f39

    .sert-info
      position: relative
      width: 228px
      padding-left: 14px
      padding-right: 14px
      padding-top: 27px

      .triangle
        position: absolute
        left: -14px
        width: 0
        height: 0
        border-top: 14px solid transparent
        border-right: 14px solid #282f39
        border-bottom: 14px solid transparent

    .sert-text
      margin-bottom: 8px
      color: #fff
      font-family: "Lato", Helvetica, Roboto, Arial, sans-serif
      font-size: 18px
      text-transform: uppercase
      line-height: 22px

    .sert-text-mini
      color: #fff
      line-height: 1.2

.services
  background-color: #fff

  .container
    padding: 22px

  .service-img
    float: left

  ol
    list-style-type: decimal
    overflow: hidden
    font-size: 24px
    font-family: "Lato-Bold", Helvetica, Roboto, Arial, sans-serif
    line-height: 36px
    padding-left: 63px

    a
      color: #000
      text-decoration: none
      cursor: pointer

      &:visited
        color: #000

      &:hover
        text-decoration: underline

.service-article
  padding: 0 21px
  padding-bottom: 40px
  background-color: #fff

  .float-left
    float: left
    margin-right: 15px

  .float-right
    float: right
    margin-left: 15px

  .post-title
    font-size: 24px
    font-family: "Lato-Bold", Helvetica, Roboto, Arial, sans-serif
    line-height: 36px
    color: #4082d9

  .text, .margin-text, ul
    font-size: 18px
    font-family: "Lato-Bold", Helvetica, Roboto, Arial, sans-serif
    line-height: 1.4
    text-align: justify

  .margin-text
    margin-bottom: 10px

  ul
    margin-left: 15px
    margin-bottom: 10px
    list-style-type: disc

.contacts
  background-color: #fff
  padding-bottom: 88px

  .top-block
    margin-top: 35px
    margin-bottom: 18px
    padding: 0 33px

  .map
    padding: 0 33px

    iframe
      width: 100%

  .facade-img
    width: 236px
    vertical-align: middle

  .text-block
    padding-left: 30px
    vertical-align: middle

  .text
    margin-bottom: 36px
    font-family: "Lato", Helvetica, Roboto, Arial, sans-serif
    font-size: 18px
    line-height: 1.2

  .feedback-btn
    font-size: 24px
    line-height: 44px
    width: 313px

.services .container .row
  display: flex
  flex-direction: row
  justify-content: space-between
  margin-bottom: 18px

@import _media
