* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}
.hidden {
  display: none;
}

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

.table {
  display: table;
  width: 100%;
}
.table.fixed {
  table-layout: fixed;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
}

body {
  font-family: "Lato-Bold", Helvetica, "Roboto", "Arial", sans-serif;
  font-size: 14px;
  background: url("../images/background.png");
}

.container {
  position: relative;
  max-width: 1075px;
  margin: 0 auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}

.main-header {
  background-color: #fff;
  padding-top: 18px;
  padding-bottom: 25px;
}
.main-header > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-logo, .main-menu, .header-feedback {
  float: left;
}

.site-logo .phone, .site-logo .mail {
  padding-left: 23px;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #1c4d8b;
}

.main-menu .phone, .main-menu .mail {
  padding-left: 23px;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #1c4d8b;
}

.header-feedback .phone, .header-feedback .mail {
  padding-left: 23px;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #1c4d8b;
}

.site-logo .phone, .main-menu .phone, .header-feedback .phone {
  font-family: "Lato-Bold", Helvetica, Roboto, Arial, sans-serif;
  letter-spacing: 1.43px;
  line-height: 15px;
  background: url("../images/phone.png") 0 center no-repeat;
}

.site-logo .phone span, .main-menu .phone span, .header-feedback .phone span {
  letter-spacing: 1.15px;
}

.site-logo .mail, .main-menu .mail, .header-feedback .mail {
  background: url("../images/mail.png") 0 center no-repeat;
}

.site-logo {
  margin-right: 23px;
}

.main-menu-wrapper {
  list-style: none;
  margin-top: 8px;
}
.main-menu-wrapper .menu-item {
  float: left;
  vertical-align: top;
  width: 110px;
  text-align: center;
  border-bottom: 5px solid #7a7e84;
  position: relative;
}
.main-menu-wrapper .menu-item a, .main-menu-wrapper .menu-item span {
  text-decoration: none;
  font-size: 17px;
  line-height: 35px;
  color: #282f39;
  cursor: pointer;
}
.main-menu-wrapper .menu-item.active {
  background-color: #282f39;
  border-bottom: none;
}
.main-menu-wrapper .menu-item.active a {
  color: #fff;
}
.main-menu-wrapper .menu-item:not(:last-child) {
  margin-right: 1px;
}
.main-menu-wrapper .menu-item:hover > .menu-dropdown {
  display: block;
}

.header-feedback {
  margin-left: 9px;
}

.address {
  line-height: 20px;
  color: #282f39;
}

.feedback-btn {
  width: 184px;
  font-family: "Lato-Bold", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  background-color: #4082d9;
  text-transform: uppercase;
  border-style: none;
  border-radius: 0;
  border-bottom: 2px solid #083774;
  cursor: pointer;
}

.page-top {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  background: url("../images/page_top_bg.jpg") no-repeat center center;
  background-size: cover;
  min-height: 302px;
}
.page-top .text-container {
  position: absolute;
  top: 50%;
  left: 139px;
  transform: translateY(-50%);
}
.page-top .button-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.education .button-container {
  margin-top: 30px;
  text-align: center;
}

.page-top .feedback-btn {
  position: absolute;
  right: 0;
  bottom: 18px;
}

.page-top-text {
  color: #fbfcfd;
  font-size: 30px;
  line-height: 1.2;
  padding-left: 14px;
}
.page-top-text:before {
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  content: " ";
  width: 4px;
  height: 94%;
  background-color: #fbfcfd;
}

.main-footer .footer-text {
  line-height: 1.2;
}
.main-footer .politic {
  display: inline-block;
  margin-top: 4px;
}
.main-footer .container {
  padding: 30px 0;
  background-color: #c3c4c6;
}
.main-footer .left-column, .main-footer .right-column {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.main-footer .left-column {
  padding-left: 30px;
}
.main-footer .right-column {
  padding-left: 152px;
}
.main-footer .social-networks {
  list-style: none;
  margin-top: 12px;
}
.main-footer .social-networks .social-icon {
  display: inline-block;
  width: 43px;
  height: 43px;
  background-image: url("../images/social_icons.png");
}
.main-footer .social-networks .social-icon:not(:last-child) {
  margin-right: 17px;
}
.main-footer .social-networks .social-icon.fb {
  background-position: -43px 0;
}
.main-footer .social-networks .social-icon.ok {
  background-position: -86px 0;
}
.main-footer .social-networks .social-icon a {
  display: block;
  height: 100%;
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 8%;
  right: 5%;
  text-transform: uppercase;
  color: #282f39;
  text-decoration: none;
  text-indent: -9999px;
  width: 60px;
  height: 19px;
  background-image: url("../images/button-top-60x19.png");
}

.feedback-form {
  position: relative;
  box-sizing: border-box;
  width: 623px;
  padding: 26px 33px 39px 33px;
  background-color: #2463b3;
  -webkit-clip-path: polygon(0 0, 600px 0, 100% 23px, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 600px 0, 100% 23px, 100% 100%, 0 100%);
}
.feedback-form .triangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 23px solid #fff;
  border-right: 23px solid transparent;
}
.feedback-form .agree-box {
  display: block;
  margin-bottom: 8px;
}
.feedback-form .form-text-top, .feedback-form .form-text-bottom {
  font-size: 18px;
  color: #fff;
}
.feedback-form .form-text-top {
  padding: 29px 0;
}
.feedback-form .form-input, .feedback-form .form-textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-style: none;
  margin-bottom: 29px;
  font-size: 24px;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  padding: 7px;
}
.feedback-form .form-footer {
  text-align: right;
}
.feedback-form .form-submit {
  width: 158px;
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  background-color: #032f55;
  border-style: none;
  border-bottom: 4px solid #041727;
  cursor: pointer;
}

.article-check {
  position: absolute;
  top: 0;
  left: 31px;
  width: 54px;
  height: 4px;
  background-color: #fff;
}

.about {
  background-color: #4082d9;
}
.about .title {
  font-size: 28px;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  color: #fff;
  margin-bottom: 13px;
}
.about ul {
  list-style: disc inside;
  font-size: 24px;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  color: #fff;
  line-height: 1.2;
}
.about ul li span {
  position: relative;
}
.about .left-column, .about .right-column {
  display: inline-block;
  vertical-align: top;
}
.about .left-column {
  padding-top: 24px;
  padding-left: 30px;
  padding-bottom: 35px;
}
.about .right-column {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 42px;
}

.dir-words {
  background-color: #fff;
}
.dir-words .license {
  position: relative;
  width: 25%;
  /* float: left */
}
.dir-words .license .title-wrapper {
  background-color: #2463b3;
  padding-left: 30px;
}
.dir-words .license .title-wrapper .title {
  font-size: 30px;
  color: #fff;
  line-height: 63px;
}
.dir-words .license .title-wrapper .triangle {
  position: absolute;
  top: 63px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #2463b3;
}
.dir-words .license-slider {
  padding-top: 14px;
}
.dir-words .license-slider .slide {
  text-align: center;
}
.dir-words .license-slider .slide img {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.55);
}

.dir-image {
  width: 25%;
  font-size: 0;
  /* float: left */
}
.dir-image .dir-photo {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.dir-text {
  position: relative;
  width: 50%;
  height: 100%;
  padding-top: 16px;
  padding-left: 34px;
  padding-right: 34px;
  text-align: justify;
  line-height: 18px;
  /* float: left */
  background-color: #282f39;
  color: #fbfcfd;
}
.dir-text .triangle {
  position: absolute;
  left: -14px;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-right: 14px solid #282f39;
  border-bottom: 14px solid transparent;
}
.dir-text .red-line {
  padding-left: 16px;
}
.dir-text .sign {
  float: left;
  line-height: 18px;
  margin-top: 10px;
}
.dir-text .sign-img {
  margin-top: 4px;
}

.advantages {
  padding: 24px 0 20px 30px;
  background-color: #fff;
  color: #282f39;
}
.advantages .title {
  font-size: 24px;
  margin-bottom: 10px;
}
.advantages ul {
  font-size: 18px;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 16px;
  line-height: 1.2;
}
.advantages .text {
  font-size: 19px;
}

.page-title {
  font-size: 24px;
  font-family: "Lato-Bold", Helvetica, Roboto, Arial, sans-serif;
  color: #fff;
  line-height: 62px;
  padding-left: 34px;
  background-color: #4082d9;
}

.about-company, .education {
  background-color: #fff;
}

.about-company .container, .education .container {
  padding: 28px 20px 40px 20px;
}

.about-company .photo-column, .education .photo-column {
  float: left;
  padding-right: 18px;
}

.about-company .text, .about-company .margin-text {
  font-size: 18px;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  line-height: 22px;
  text-align: justify;
}

.education .margin-text {
  font-size: 18px;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  line-height: 22px;
  text-align: justify;
}

.about-company .margin-text {
  margin-bottom: 10px;
}

.education .margin-text {
  margin-bottom: 10px;
}
.education .margin-text_25 {
  margin-bottom: 25px;
}

.sertificates {
  padding-bottom: 27px;
  background-color: #fff;
}
.sertificates .container {
  padding-top: 27px;
  padding-left: 6px;
}
.sertificates .license {
  float: left;
  margin: 28px;
  background-color: #282f39;
  overflow: hidden;
}
.sertificates .license .sert-photo, .sertificates .license .sert-info {
  float: left;
}
.sertificates .license .sert-photo img {
  margin-bottom: -3px;
  border-bottom: 1px solid #282f39;
}
.sertificates .license .sert-info {
  position: relative;
  width: 228px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 27px;
}
.sertificates .license .sert-info .triangle {
  position: absolute;
  left: -14px;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-right: 14px solid #282f39;
  border-bottom: 14px solid transparent;
}
.sertificates .license .sert-text {
  margin-bottom: 8px;
  color: #fff;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 22px;
}
.sertificates .license .sert-text-mini {
  color: #fff;
  line-height: 1.2;
}

.services {
  background-color: #fff;
}
.services .container {
  padding: 22px;
}
.services .service-img {
  float: left;
}
.services ol {
  list-style-type: decimal;
  overflow: hidden;
  font-size: 24px;
  font-family: "Lato-Bold", Helvetica, Roboto, Arial, sans-serif;
  line-height: 36px;
  padding-left: 63px;
}
.services ol a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.services ol a:visited {
  color: #000;
}
.services ol a:hover {
  text-decoration: underline;
}

.service-article {
  padding: 0 21px;
  padding-bottom: 40px;
  background-color: #fff;
}
.service-article .float-left {
  float: left;
  margin-right: 15px;
}
.service-article .float-right {
  float: right;
  margin-left: 15px;
}
.service-article .post-title {
  font-size: 24px;
  font-family: "Lato-Bold", Helvetica, Roboto, Arial, sans-serif;
  line-height: 36px;
  color: #4082d9;
}
.service-article .text, .service-article .margin-text, .service-article ul {
  font-size: 18px;
  font-family: "Lato-Bold", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.4;
  text-align: justify;
}
.service-article .margin-text {
  margin-bottom: 10px;
}
.service-article ul {
  margin-left: 15px;
  margin-bottom: 10px;
  list-style-type: disc;
}

.contacts {
  background-color: #fff;
  padding-bottom: 88px;
}
.contacts .top-block {
  margin-top: 35px;
  margin-bottom: 18px;
  padding: 0 33px;
}
.contacts .map {
  padding: 0 33px;
}
.contacts .map iframe {
  width: 100%;
}
.contacts .facade-img {
  width: 236px;
  vertical-align: middle;
}
.contacts .text-block {
  padding-left: 30px;
  vertical-align: middle;
}
.contacts .text {
  margin-bottom: 36px;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
}
.contacts .feedback-btn {
  font-size: 24px;
  line-height: 44px;
  width: 313px;
}

.services .container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
}

@media (max-width: 767px) {
  .main-footer .right-column {
    padding-left: 50px;
  }
}
@media (max-width: 420px) {
  .about-company .photo-column, .education .photo-column {
    width: 100%;
    float: none;
    padding: 20px 40px;
  }
}
@media (max-width: 480px) {
  .services .container .row {
    flex-wrap: wrap;
  }
}
.service-item {
  max-width: 302px;
  min-width: 0;
}
.service-item .service-thumb {
  margin-bottom: 16px;
  border: 1px solid #111;
  width: 100%;
}
.service-item .service-link {
  display: block;
  font-family: "Lato-Bold", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #053b82;
  text-align: center;
  line-height: 1.2;
  text-decoration: none;
}

@media (min-width: 481px) and (max-width: 960px) {
  .service-item .service-link {
    max-width: 200px;
    margin: 0 auto;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .service-item .service-link {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .service-item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 701px) {
  .menu-dropdown {
    display: none;
    position: absolute;
    margin-top: 6px;
    padding: 10px;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #282f39;
  }
  .menu-dropdown .menu-item {
    width: 200px;
    text-align: left;
    border-bottom: none;
    padding: 4px 8px;
  }
  .menu-dropdown .menu-item:not(:last-child) {
    margin-bottom: 4px;
  }
  .menu-dropdown .menu-item a, .menu-dropdown .menu-item span {
    line-height: 1.4;
  }
}
@media screen and (max-width: 1024px) {
  .main-menu.mobile {
    display: block;
    float: none;
    clear: both;
    text-align: center;
  }

  .site-logo {
    margin-left: 20px;
  }

  .header-feedback {
    margin-right: 20px;
    float: right;
  }
}
@media screen and (max-width: 800px) {
  .page-top-text::before {
    top: 0;
    height: 100%;
  }

  .about .left-column {
    padding-bottom: 20px;
  }
  .about .right-column {
    display: none;
  }

  .dir-words {
    display: block;
  }
  .dir-words .table-cell {
    display: inline-block;
  }
  .dir-words .dir-text {
    width: 75%;
  }
  .dir-words .license {
    width: 100%;
  }
  .dir-words .dir-image {
    float: left;
  }
}
@media (min-width: 981px) and (max-width: 1050px) {
  .main-menu-wrapper .menu-item {
    width: 92px;
  }
  .main-menu-wrapper .menu-item a {
    font-size: 15px;
  }
}
@media (max-width: 980px) {
  .main-menu {
    display: none;
  }

  .menu-btn.mobile {
    display: inline-block;
    font-size: 17px;
    color: #fff;
    line-height: 35px;
    padding: 5px;
    margin: 0;
    background-color: #282f39;
    border-style: none;
    cursor: pointer;
  }

  .main-menu.mobile .main-menu-wrapper, #menu-for-mobile {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .main-menu.mobile .menu-item {
    display: inline-block;
    width: 50%;
    float: none;
  }
  .main-menu.mobile .menu-item a {
    line-height: 45px;
  }
  .main-menu.mobile .menu-item:last-child {
    border-bottom: none;
  }

  .services .service-img {
    float: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .contacts .top-block .table-cell {
    display: block;
  }
  .contacts .top-block .text-block {
    padding: 15px;
    padding-left: 0;
  }
}
@media (min-width: 981px) {
  #menu-for-mobile .menu-item {
    display: none;
  }
}
@media (min-width: 701px) and (max-width: 980px) {
  #menu-for-mobile {
    height: 23px;
    text-align: center;
  }
  #menu-for-mobile .menu-item {
    display: inline-block;
    float: none;
  }
}
@media (max-width: 700px) {
  #menu-for-mobile .menu-item {
    display: block;
    float: none;
    width: 100%;
    border: none;
  }

  .main-menu-wrapper .menu-item-text span {
    display: none;
  }
  .main-menu-wrapper .menu-dropdown {
    display: block;
    position: relative;
  }
}
@media screen and (max-width: 630px) {
  #feedback-modal {
    top: 50px !important;
  }

  .feedback-form {
    width: 100%;
    box-sizing: border-box;
  }
  .feedback-form .form-text-top {
    padding: 15px 0;
    font-size: 15px;
  }
  .feedback-form .form-text-bottom {
    font-size: 15px;
  }
  .feedback-form .form-input, .feedback-form .form-textarea {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .feedback-form .form-submit {
    font-size: 20px;
    line-height: 30px;
  }
  .feedback-form .form-footer {
    margin-top: 15px;
  }
  .feedback-form .triangle {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .page-top .container {
    left: 15px;
  }

  .dir-words .dir-image {
    float: none;
    padding-top: 16px;
    width: 100%;
    display: block;
    text-align: center;
    background-color: #282f39;
  }
  .dir-words .dir-photo {
    width: auto;
    display: inline-block;
    margin-bottom: -4px;
  }
  .dir-words .dir-text {
    width: 100%;
  }

  .main-footer .right-column {
    padding-left: 0;
    padding-right: 15px;
  }
}
@media screen and (max-width: 520px) {
  .sertificates .container {
    text-align: center;
  }
  .sertificates .license {
    float: none;
    display: inline-block;
  }
  .sertificates .license .sert-photo, .sertificates .license .sert-info {
    float: none;
  }
  .sertificates .license .sert-text-mini {
    margin-bottom: 15px;
  }
}
@media (min-width: 450px) and (max-width: 767px) {
  .page-top .text-container {
    left: 50px;
  }

  .page-top-text {
    font-size: 26px;
  }
}
@media screen and (max-width: 449px) {
  .site-logo, .header-feedback {
    display: block;
    float: none;
    margin: 10px 0;
    max-width: 160px;
    text-align: center;
  }

  .menu-btn {
    margin-top: 10px;
  }

  .page-top-text {
    font-size: 20px;
  }

  .page-top .text-container {
    left: 30px;
  }

  .main-footer .left-column {
    width: 100%;
    padding: 0 30px;
    text-align: center;
  }
  .main-footer .right-column {
    width: 100%;
    padding: 0 30px;
    text-align: center;
    margin-top: 15px;
  }

  .about ul {
    font-size: 20px;
  }
  .about .title {
    font-size: 24px;
  }

  .services ol {
    font-size: 20px;
    line-height: 1.6;
  }

  .service-article .float-left, .service-article .float-right {
    float: none;
    display: block;
    margin: 15px auto;
  }
}
@media screen and (max-width: 410px) {
  .services ol {
    padding-left: 30px;
    font-size: 17px;
  }

  .contacts .feedback-btn {
    max-width: 100%;
    font-size: 20px;
  }
}
.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  margin: 5px;
  border-radius: 1px;
  background-color: #ffffff;
}

.logo-img {
  width: 100%;
}

@media (max-width: 480px) {
  .header-feedback .phone, .header-feedback .mail {
    font-size: 13px;
  }
}
.leaflet-popup-content-wrapper {
  width: 230px !important;
}

/* Choosing city */
#cities:before {
  content: "";
  width: 16px;
  height: 16px;
  left: 0;
  position: absolute;
  background: url("../images/map-marker2.png") no-repeat;
}

.wrapper-dropdown {
  position: relative;
  margin: 0 auto;
  padding: 10px 15px 10px 23px;
  background: #fff;
  cursor: pointer;
  outline: none;
}
.wrapper-dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #282f39 transparent;
}
.wrapper-dropdown .dropdown {
  position: absolute;
  top: 100%;
  left: 7px;
  right: 0px;
  background: #f6f6f6;
  transition: all 0.2s ease-out;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
}
.wrapper-dropdown .dropdown li a {
  display: block;
  text-decoration: none;
  color: #333;
  border-left: 5px solid;
  padding: 10px;
  transition: all 0.2s ease-out;
}
.wrapper-dropdown .dropdown li:nth-child(1) a {
  border-left-color: #00ACED;
}
.wrapper-dropdown .dropdown li:nth-child(2) a {
  border-left-color: #4183C4;
}
.wrapper-dropdown .dropdown li:nth-child(3) a {
  border-left-color: #3B5998;
}
.wrapper-dropdown .dropdown li i {
  margin-right: 5px;
  color: inherit;
  vertical-align: middle;
}
.wrapper-dropdown .dropdown li:hover a {
  color: grey;
}
.wrapper-dropdown.active:after {
  border-width: 0 6px 6px 6px;
}
.wrapper-dropdown.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}

/*# sourceMappingURL=style.css.map */
